#main {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #eee;
  font-size: 2.5vmin;
  line-height: 4vmin;
  text-align: center;
  color: #333;
  margin: 3vmin 1vmin;
  padding: 5vmin 2vmin 2vmin 2vmin;
  border-radius: 1vmin;
}

@media (max-width: 450px) {
  #main {
    margin: 0vmin;
  }
}

h1 {
  font-size: 6vmin;
}

@media (max-width: 450px) {
  h1 {
    font-size: 5vmin;
  }
}

#img-div {
  background-color: #fff;
  padding: 1vmin;
  margin: 0vmin;
}

#image {
  max-width: 100%;
  height: auto;
}

#img-caption {
  margin: 5vmin 0vmin 5vmin 0vmin;
}

@media (max-width: 450px) {
  #img-caption {
    font-size: 2vmin;
  }
}

h2 {
  font-size: 3vmin;
  margin-top: 8vmin;
  margin-bottom: 8vmin;
}

ul {
  margin: auto;
  width: 55%;
}

li{
  text-align: left;
  margin-bottom: 1vmin;
  padding: 1vmin;
}

blockquote {
  margin: 8vmin auto;
  width: 55%;
  text-align: justify;
  font-style: italic;
}


