html {
  font-size: 10px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 100%;
  height: 100%;
}
body {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 2rem;
  background-color: #eee;
}
*, *:after, *:before {
  font-size: inherit;
  box-sizing: inherit;
  -moz-box-sizing: inherit;
  -webkit-box-sizing: inherit;
}

a {
  color: black;
  text-decoration: none;
}
#header {
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: auto;
  padding: 2rem;
  background-color: inherit;
}

#header-img {
  width: 25%;
  height: auto;
}

#nav-bar {
  width: 30%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

#nav-link {
  width: 20%;
}

@media (max-width: 460px) {
  #header-img {
    width: 100%;
  }
  #nav-bar {
    width: 100%;
    /* flex-direction: column; */
  }
  #nav-link {
    width: 100%;
  }
}

#info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input {
  display: block;
  margin: 1rem auto;
  padding: 0.5rem;
}

::placeholder {
  font-size: 1.6rem;
}

input[type="submit"], button {
  border-width: 0.12rem;
  border-color: black;
  border-radius: 0.4rem;
  text-transform: uppercase;
  background-color:#f1c40f;
}

input[type="submit"]:hover, button:hover {
  animation-name: button-background-color;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes button-background-color {
  100% {
    background-color: orange;
  }
}
#features {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 0;
}
.feature-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.icon  {
  width: 20%;
}

@media (max-width: 460px) {
  .icon {
    display: none;
  }
}

i {
  max-height: 100%;
  font-size: 10rem;
  color: orange;
}
.desciption {
  width: 60%;
}

#how-it-works {
  margin: 0rem;
  padding: 5rem;
}
#video {
  display: block; /*quan trá»ng*/
  margin: 0rem auto;
  padding: 0rem;
  border: none;
  max-width: 100%;
}

@media (max-width: 460px) {
  #how-it-works {
    padding-left: 0;
    padding-right: 0;
  }
  #video {
    width: 100%;
  }
}

li {
  list-style: none; 
}

ul {
  margin: auto;
  padding: 0;
}

#pricings {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around;
}

.item {
  width: 25%;
  margin: 0.5rem 1rem;
  border: solid 0.1rem;
  border-radius: 0.3rem;
  text-align: center;
}

#pricings > div > button {
  margin: 1rem;
  padding: 0.5rem
}

.item-type {
  width: 100%;
  margin: 0;
  background-color: #ccc;
  padding: 0.5rem 1rem
}
@media (max-width: 800px) {
  #pricings {
    width: 100%;
   /*  flex-direction: column; */
  }
  #pricings > div {
    width: 100%;
  }
}

footer {
  width: 100%;
  background-color: #ccc;
  margin-top: 2rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
}

@media (max-width: 460px) {
  footer {
    align-items: center;
  }
}

footer > div {
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

footer > div > a {
  margin: 1rem;
}
